.chooser-container {
  display: grid;
  grid-template-rows: 30px auto 40px;
  grid-template-columns: 150px 40px 40px 100px auto 100px;
}

.chooser-places {
  grid-row: 1 / span 3;
  grid-column: 1;
}

.chooser-content {
  grid-row: 2;
  grid-column: 2 / span 5;
}

.chooser-back {
  grid-row: 1;
  grid-column: 2;
  font-size: small;
}
.chooser-fwd {
  grid-row: 1;
  grid-column: 3;
  font-size: small;
}
.chooser-opt {
  grid-row: 1;
  grid-column: 4;
  font-size: small;
}
.chooser-cur {
  grid-row: 1;
  grid-column: 5;
  font-size: small;
}
.chooser-view {
  grid-row: 1;
  grid-column: 6;
  font-size: small;
}
.chooser-actions {
  grid-row: 3;
  grid-column: 2 / span 5;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100px auto 100px 100px;
  gap: 8px;
}
.chooser-new {
  grid-row: 1;
  grid-column: 1;
}
.chooser-cancel {
  grid-row: 1;
  grid-column: 3;
}
.chooser-select {
  grid-row: 1;
  grid-column: 4;
}
